.App {
    text-align: center;
  }
  
  .App-fundo {

    height: 60vmin;
  }
  .App-caicara {

    height: 60vmin;
  }
  .App-vintage {

    height: 60vmin;
  }
  .App-eletrica {

    height: 60vmin;
  }
  .App-mountain {

    height: 60vmin;
  }
  .App-utility {

    height: 60vmin;
  }

  .tudo {
    background-color: #282c34;
    min-height: 100vh;
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: top;
    font-size: calc(10px + 2vmin); 
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
 